<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">
    <!--이 부분은 김민혜 마이페이지에 필요하여 더하였습니다-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--이 부분은 김민혜 마이페이지에 필요하여 더하였습니다-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <!--이 부분은 김민혜 마이페이지에 필요하여 더하였습니다-->
        <activity android:name=".MyPage"/>
        <activity android:name=".EditAlbum"/>
        <activity android:name=".CheckReservation"/>
        <activity android:name=".ConfirmMyInfo"/>
        <activity android:name=".EventMap"/>
        <activity android:name=".CheckHoXi"/>
        <activity android:name=".newTry"/>
        <activity android:name=".TestFile"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA5jlW0hV9MjiL_kfKp8ZGqXCW4TVa-Qzc"/>
        <!--이 부분은 김민혜 마이페이지에 필요하여 더하였습니다-->
        <activity android:name=".newUpload"/>
        <activity android:name=".photo" />
        <activity android:name=".hair" />
        <activity android:name=".studio" />
        <activity android:name=".hmPage" />
        <activity android:name=".category" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--이 부분은 김민혜 마이페이지에 필요하여 더하였습니다-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.myapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!--이 부분은 김민혜 마이페이지에 필요하여 더하였습니다-->
        <activity android:name=".Login" />
        <activity android:name=".IdpwSearch" />
        <activity android:name=".Join" />
    </application>

</manifest>