<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">
    <!-- 이 부분은 김민혜 마이페이지에 필요하여 더하였습니다 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".AddActivity"></activity>
        <!-- <activity android:name=".SharedActivity"></activity> -->
        <receiver
            android:name=".ReplyReceiver"
            android:enabled="true"
            android:exported="true" /> <!-- 이 부분은 김민혜 마이페이지에 필요하여 더하였습니다 -->
        <activity android:name=".MyPage" />
        <activity android:name=".Students"/>
        <activity android:name=".LoveIt2"/>
        <activity android:name=".PersonnelInfo"/>
        <activity android:name=".PersonnelList"/>
        <activity android:name=".PersonnelReg"/>
        <activity android:name=".EditAlbum" />
        <activity android:name=".CheckReservation" />
        <activity android:name=".ConfirmMyInfo" />
        <activity android:name=".EventMap" />
        <activity android:name=".newTry" />
        <activity android:name=".TestFile" />
        <activity android:name=".Home" />
        <activity android:name=".LoginTest" /> <!-- <activity android:name=".MyHairs"/> -->
        <activity android:name=".EditList"/>
        <activity android:name=".Hairs"/>
        <activity android:name=".Studios"/>
        <activity android:name=".Cameras"/>
        <activity android:name=".Models"/>
        <activity android:name=".Writer"/>
        <activity android:name=".HairOne"/>
        <activity android:name=".AuthActivity"/>
        <activity android:name=".LoveIt"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA5jlW0hV9MjiL_kfKp8ZGqXCW4TVa-Qzc" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- 이 부분은 김민혜 마이페이지에 필요하여 더하였습니다 -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 이 부분은 김민혜 마이페이지에 필요하여 더하였습니다 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.myapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- 이 부분은 김민혜 마이페이지에 필요하여 더하였습니다 -->
    </application>

</manifest>